@import "tailwindcss";

@theme inline {
  --color-primary: #0070f3;
  --color-foreground: #444444;
  --color-muted: #888888;
  --font-sans: var(--font-inter);
}

html,
body {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #d1d1d1 #fafafa;
}

body {
  background: #fafafa;
  color: #444444;
  font-family: var(--font-sans);
}
